
.normal {
}
.editor-title{
	padding: 5px 0;
	margin-top: 4px;
	display: block;
	font-size: 14px;
	background: gainsboro;
	text-indent: 1em;
}
.year-rate{
	line-height: 32px;
	text-indent: 1em;
	display: block;
}
